.msg {

    &__btn {

        margin-top: 2.5em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #FF8E26;
        color: white;
        padding: 4px;
        width: 14em;
        height: 2em;
        border: none;
        cursor: pointer;

    }

    &__btnsm {

        margin-top: 0.1em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #FF8E26;
        color: white;
        padding: 4px;
        width: 30%;
        height: 1.5em;
        border: none;
        cursor: pointer;
 
    }

    &__show {
        margin-top: 1.5em;
        color: none;
        height: 0em;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;

    }
    
    &__hide {
        padding: 0 .5em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: rgb(20, 20, 20);
        width: 100%;
        background: rgb(255, 255, 255);
        margin-top: 1em;
        
        height: 3.5em;
        transition: color 5s;
        transition: height 1s;
        letter-spacing: normal;
        transition: all .5s;
        
        @include respond(custom) {
            // flex-direction: column;
            height: 4.5em;
            font-size: 15px;
            transition: all .5s;
        }
    }

}